<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd ">

	<!-- 配置当前应用模块名称 -->
	<dubbo:application name="platform-service"/>

	<!-- 配置注册中心的位置 -->
	<!-- 配置ZooKeeper注册中心位置方式如下 -->
	<dubbo:registry address="${zookeeper.address}" protocol="zookeeper"/>

	<!-- 配置Dubbo客户端的访问端口 -->
	<dubbo:protocol name="dubbo" port="20880"/>

	<!-- 配置接口实现类对应的bean -->
	<bean id="demoService" class="cn.com.cdboost.service.impl.DemoServiceImpl"/>

	<!-- 配置提供的服务的接口 -->
	<dubbo:service interface="cn.com.cdboost.service.DemoService" ref="demoService"/>

</beans>